@import "leaflet/dist/leaflet.css";
@import "leaflet.locatecontrol/dist/L.Control.Locate.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    padding: 0;
    margin: 0;
}

.centrar {
    margin: 0 auto;
}

.color_global {
    background-color: #1a2b57;
}
